<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>WEB322APP</title>
        <link rel="icon" href="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" type="image/x-icon">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" >
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
        <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>myApp</h1>
                    {{#if user.username}}
                    <span class="pull-right"><a href="/logout" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Log Out:&nbsp;{{user.username}}&nbsp;&nbsp;&nbsp;</a></span>
                    {{else}}
                    <span class="pull-right"><a class="btn btn-success" href="/login">&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</a>
                    <a class="btn btn-primary" href="/register">&nbsp;&nbsp;&nbsp;Register&nbsp;&nbsp;&nbsp;</a></span>
                    {{/if}}
                </div>
            </div>
        </div>
      </header>
     <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class = "pull-left">
                        <li><a href = "/">&nbsp;Home&nbsp;</a></li>
                        <li><a href = "/about">&nbsp;About&nbsp;</a></li>
                    </ul>
                     {{#if user.username}}
                    <ul class = "pull-right">
                        <li><a href = "/employees">&nbsp;All&nbsp;Employees&nbsp;</a></li>
                        <li><a href = "/managers">&nbsp;Managers&nbsp;</a></li>
                        <li><a href = "/departments">&nbsp;Departments&nbsp;</a></li>
                    </ul>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
   <div class="container">
       {{{body}}} {{!-- The handlerbars will inject HERE!!!! --}}
   </div>
        <footer>
            <div class="container">
                <div class = "row">
                    <div class="col-md-12">
                        <h2>&#169;2017&nbsp;-&nbsp; Kerry Mayers</h2>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>